<div>
  <app-table [headers]="headers" [items]="items">
    @for (item of items; track $index) {
    <tr class="bg-white border-b cursor-pointer" (click)="onClick(item)">
      <td class="px-6 py-4">{{$index + 1}}</td>
      <td class="px-6 py-4">
        @if (item.active) {
        <span class="material-symbols-outlined text-green-700">
          toggle_on
        </span>
        } @else {
        <span class="material-symbols-outlined text-red-700"> toggle_off </span>
        }
      </td>
      <td class="px-6 py-4">{{ item.name }}</td>
      <td class="px-6 py-4">{{ item.description || "" }}</td>
    </tr>
    }@empty {
    <tr>
      <td class="px-6 py-4">There aren't any value....</td>
    </tr>
    }
  </app-table>
</div>
