<main class="container max-auto h-full flex justify-center items-center">
  <section class="shadow max-w-md mx-4 p-2 rounded-md">
    <h6 class="text-gray-700 font-bold mb-4">
      Hello! Please use your credential to log in.
    </h6>
    <form>
      <div class="mb-2">
        <label for="" class="block text-sm font-medium leading-6 text-gray-900"
          >Email</label
        >
        <input
          name="email"
          type="email"
          placeholder="test@example.com"
          class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
      <div class="mb-4">
        <label
          for="password"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Password</label
        >
        <input
          name="password"
          type="password"
          placeholder="*****"
          class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
      <button type="button" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Start</button>
    </form>
    
   
  </section>
</main>
